.main {
	background-color: yellow;
	margin: 0 auto;
	width:300px;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;

	-webkit-transition: opacity .3s;
	-webkit-transition-delay: .2s;
	-moz-transition: opacity .3s;
	-moz-transition-delay: .2s;
	-o-transition: opacity .3s;
	-o-transition-delay: .2s;
	transition: opacity .3s;
	transition-delay: .2s;
}

.bottom {
	padding:5px;
	text-align:right;
	position: relative;
}

.title {
	background-color: green;
	padding: 5px;

	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-khtml-border-radius: 4px;

	-webkit-transition: opacity .3s;
	-webkit-transition-delay: .2s;
	-moz-transition: opacity .3s;
	-moz-transition-delay: .2s;
	-o-transition: opacity .3s;
	-o-transition-delay: .2s;
	transition: opacity .3s;
	transition-delay: .2s;
}

.title h1 {
	font-size: 16px;
}

.content {
	margin: 12px;
	line-height: 18px;
}

.content span {
	display: inline-block;
	min-width: 60px
}

.content input {
	width: 250px;
}

.alert {
	position: absolute;
	color: red;
	top: 2px;
}