<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta property="wb:webmaster" content="d6b0999c2085a4a0" />
<script type="text/javascript" src='/static/js/jquery-1.8.2.min.js'></script>
<script type="text/javascript" src='/static/js/ajaxupload.js'></script>
<script type="text/javascript" src='/static/js/login.js'></script>
<script src=" http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3168919025" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/static/css/common.css">
<link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	<div>
		<div style='height:200px'></div>
		<div class='main'>
		<form action='/login/do'>
		<div class='title'><H1>Login</H1></div>
		<div class='content'>
		<div ><span>Username:</span><input type='text' name='username' /></div>
		<div><span>Password:</span><input type='password' name='Password'/></div>
		</div>
		<div></div>
		<div class='bottom'><span id='sina'></span> <a class='button submit'>Submit</a><span> </span><span><a class='button cancel'>Cancel</a></span></div>
		</div>
		</form>
	</div>
</body>
</html>