{{define "newTopic"}}
<div class='main'>
<form action='/newTopic/do' name="newTopic">
<div class='title'>New Topic</div>
<div class='content'>
<div ><span>Title:</span><div class="inputwrapper"><input type='text' name='title' /></div></div>
<div><span>tags:</span><div class="inputwrapper"><input type='text' name='tags'/></div>

</div>
<div><span>content:</span><div class="inputwrapper"><textarea name='content'></textarea></div></div>
</div>
<div></div>
<div class='bottom'><span id='sina'></span> <a class='button submit'>Submit</a><span> </span><span><a class='button cancel'>Cancel</a></span></div>
</form>
</div>
{{end}}